body {
  width: 350px;
}
span {
	font-weight: bold;
	}
.interesting{
	font-style:italic;
	}
h3 {text-align:center;
	}

ul {
  list-style-type: none;
}
.main{
	border: 1px solid #cecece;
  	box-shadow: 0.5em 0.5em 0.25em #e6e6e6;
  	padding-right: 1rem;
  	padding-left: 1rem;
	}
.description{
	border: 1px solid #cecece
	}

.border{
	margin-right: : 1rem;
	margin-left: 1rem;
	margin-bottom: 1rem;
	padding-right: 1rem
}